body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: x-large;
}

/* Div elements */
.header-container {
    height: 15vh;
    width: auto;
    padding: 1%;
    background-color: #333;
}

.header-logo-desktop {
    height: 12vh;
    width: 30vw;
    float: left;
    vertical-align: middle;
    display: flex;
}

.header-logo-tablet {
    height: 7vh;
    width: 100%;
    float: left;
    vertical-align: middle;
    display: none;
}

.header-logo-mobile {
    height: 7vh;
    width: 30vw;
    float: left;
    vertical-align: middle;
    display: none;
}

.header-navigation-desktop {
    height: 8vh;
    width: 61vw;
    padding: 0.5%;
    background-image: linear-gradient(10deg, #2c3e50 0%, #3498db 100%);
    float: right;
    justify-content:center; 
    align-items:center;
    display: flex;
}

.header-navigation-tablet {
    height: 7vh;
    width: 100%;
    padding: 0.5%;
    background-image: linear-gradient(10deg, #2c3e50 0%, #3498db 100%);
    display: none;
}

.header-navigation-links {
    display: flex;
    justify-content: center;
    height: 13vh;
    width: 49vw;
    float: left;
}

.header-navigation-sitenav {
    height: 9vh;
    width: 25vw;
    padding: 0.5%;
    float: right;
}

.header-navigation-mobile {
    display: none;
    height: auto;
    width: 100vw;
    padding: 0.5%;
    background-image: linear-gradient(10deg, #2c3e50 0%, #3498db 100%);
    float: right;
    text-align: center;
}

.main {
    height: 80vh;
    width: 100%;
    padding: 2%;
    background-color: ghostwhite;
    border-top: none;
    overflow: auto;
}

.print {
    display: none;
}

.footer-container {
    width: 100%;
    height: 5vh;
    background-color: #333;
    position: fixed;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

.footer-social-element {
    display: flex;
    float: right;
    width: 18%;
    padding-right: 1%;
}

/* Text elements */

.header-text {
    color: white;
    margin: 0;
    vertical-align: middle;
    font-size: large;
}

.footer-text {
    color: white;
    margin: 0;
    vertical-align: middle;
    font-size: medium;
}

.content-title {
    font-weight: bold;
    color: black;
    font-size: large;
}

.content-text {
    font-weight: lighter;
    color: black;
    font-size: medium;
}

li.content {
    font-weight: lighter;
    color: black;
    font-size: medium;
}

.navigation-content {
    font-weight: lighter;
    color: white;
    font-size: medium;
    text-align: center;
}

.navigation-text {
    font-size: inherit;
    color: white;
    font-weight: bold;
    margin: 0;
}

.page-text {
    font-size: inherit;
    color: black;
    padding: 0;
    margin: 0;
}

.invoice-text {
    font-size: xx-large;
    color: black;
}

/* Button elements */

a.header, a.header:visited {
    height: auto;
    width: 100%;
    color: white;
    padding: 0.5%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}

    a.header:hover {
        color: antiquewhite;
    }

/* Page breadcrumbs */

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

    /* Display list items side by side */
    ul.navigation li {
        display: inline-block;
        font-size: large;
    }

        /* Add a slash symbol (/) before/behind each list item */
        ul.navigation li + li:before {
            padding: 0;
            color: white;
            content: "/\00a0";
        }

        /* Add a color to all links inside the list */
        ul.navigation li a {
            display: inline-block;
            text-decoration: none;
        }

            /* Add a color on mouse-over */
            ul.navigation li a:hover {
                color: #01447e;
                text-decoration: underline;
            }
/* Table elements */
.education-table {
    border: 1px solid black;
    width: 100%;
}

.education-table-head {
    border: 1px solid black;
    background-color: #3498db;
}

.education-table-toprow {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.education-table-bottomrow {
    border-right: 1px solid black;
}

.breadcrumbs-table {
    float: right;
    background-color: none;
    width: 100%;
}

.header-logo-table {
    width: 85%;
    height: 15vh;
    display: flex;
}

/* Mobile support */
@media screen and (max-width: 1570px) {
    a.header {
        font-size: large;
    }
}

@media screen and (max-width: 1250px) {
    /* Div Elements */
    .header-container {
        height: 12vh;
    }

    .header-logo-desktop {
        display: none;
    }

    .header-logo-tablet {
        display: block;
    }

    .header-logo-tablet {
        width: 50%;
    }

    .header-navigation-desktop {
        display: none;
    }

    .header-navigation-tablet {
        justify-content:center; 
        align-items:center;
        display: flex;
    }

    .header-text {
        display: inline;
    }

    /* Text elements */

    .header-text {
        font-size: x-large;
    }

    .content-title {
        font-size: x-large;
    }

    .content-text {
        font-size: large;
    }

    a.header {
        font-size: large;
    }

    li.content {
        font-size: large;
    }
}

@media screen and (max-width: 783px) {
    /* Div Elements */
    .header-container {
        height: 12vh;
    }

    .header-logo-desktop {
        display: none;
    }

    .header-logo-tablet {
        display: none;
    }

    .header-logo-mobile {
        width: 100%;
        display: block;
    }

    .header-navigation-desktop {
        display: none;
    }

    .header-navigation-tablet {
        display: none;
    }

    .header-text {
        display: inline;
    }

    .header-navigation-mobile {
        display: block;
        width: 100%;
        margin: auto;
        border-bottom: 2px solid black;
    }

    /* Text elements */

    .header-text {
        font-size: large;
    }

    a.header {
        font-size: large;
    }

    .header-text {
        font-size: medium;
    }
}

/* Photo elements */
.header-photo-desktop {
    width: 40%;
    max-width: 100%;
}

.header-photo-tablet {
    width: 15%;
    float: left;
}

.header-photo-mobile {
    width: 15%;
    float: right;
}

.footer-social {
    width: 3vh;
}

/* Iframe elements */

iframe {
    width: 80%;
    height: 80%;
}
