@{ ViewBag.Title = "Contact"; }

<p class="text-dark">
    Hi there!
    There are several ways of contacting me, various methods are listed below:

    <ul class="list-unstyled">
        <li>Phone number: 07557538415</li>
        <li>Personal email: cameron@chrisferns.co.uk</li>
    </ul>
</p>