
@{
    ViewBag.Title = "Employment History";
}

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light h-100">
            <div class="card-header">Application Developer, Retail Management Solutions <span class="badge badge-secondary text-uppercase">full time employment</span></div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-2"><span class="badge badge-success text-uppercase">current</span> Started September 2018</h6>
                <p class="card-text">
                    Key results:
                    <ul>
                        <li>Experience writing database scripts using SQL / T-SQL</li>
                        <li>Creating additional modules to add onto an existing application</li>
                        <li>Developed an understanding of design patterns used in coding and the best way to implement them</li>
                        <li>Gained experience using Object Oriented languages</li>
                        <li>Learned about UI design and how to implement it with Bootstrap</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light h-100">
            <div class="card-header">Sales Associate, Craghoppers, Beales <span class="badge badge-secondary text-uppercase">part time job</span></div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-2">August 2017 - September 2018</h6>
                <p class="card-text">Key results:</p>
                <ul>
                    <li>Experience with handling money at the start and end of each day</li>
                    <li>Customer service skills - face to face interaction with the customers</li>
                    <li>Experience rotating stock based on current season and different layouts</li>
                    <li>House-keeping duties with the sales floor to make sure the area is suitable for customers</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light h-100">
            <div class="card-header">Account Management, Retail Management Solutions <span class="badge badge-secondary text-uppercase">unpaid work experience</span></div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-2">Summer 2016</h6>
                <p class="card-text">Key results:</p>
                <ul>
                    <li>Learned about Bandwidth Management and how to allocate traffic to individual IP addresses</li>
                    <li>Helped customers with troubleshooting issues that they had with the product the company was selling</li>
                    <li>Demonstrated an ability to learn quickly by making my own site within the product as a test of their new product</li>
                    <li>Assisted in making sure that the customer was happy with the updated product that was being given to them</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light h-100">
            <div class="card-header">Stock Management, Co-Operative Food, Colehill <span class="badge badge-secondary text-uppercase">unpaid work experience</span></div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-2">Summer 2015</h6>
                <p class="card-text">Key results:</p>
                <ul>
                    <li>Demonstrated ability to maintain an adequate level of stock on the shop floor and store room</li>
                    <li>Learned about stock rotation and importance of freshest stock at the back; so oldest are purchased first</li>
                    <li>Significantly improved negotiation skills, regularly converting customers from point of enquiry to point of sale</li>
                    <li>Demonstrated resilience an ability to complete necessary tasks</li>
                    <li>Handled ad hoc customer enquiries in a way that ensured customer satisfaction</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light h-100">
            <div class="card-header">IT Support Technician, Canford School <span class="badge badge-secondary text-uppercase">unpaid work experience</span></div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-2">Summer 2015</h6>
                <p class="card-text">Key results:</p>
                <ul>
                    <li>Assisting in the maintenance of the school's on-site network server and all incoming traffic</li>
                    <li>Learning about the school's gateway page, adding new content and editing existing data</li>
                    <li>Resolving delegated IT Hardware/Software challenges from the supervisory Teacher</li>
                </ul>
            </div>
        </div>
    </div>
</div>
