@{ ViewBag.Title = "Homepage"; }

<p class="text-dark">
    A highly motivated and hardworking individual, who is completing A-Levels, and achieving excellent interim grades in ICT, Geography, History and Science.  Seeking to independently support myself financially through college with the ambition to obtain a driving licence. <br />
    Technology minded, with a methodical approach to working and an eagerness to learn and develop personal skills in a practical setting.  Eventual career goal is to become a fully-qualified and experienced network technician, with the longer-term aspiration of moving into project development within a global organisation.
</p>

<br />
<h4>Key skills</h4>
<ul>
    <li>Advanced problem solving and numeracy skills</li>
    <li>Accomplished communication skills, both written and verbal, developed through numerous presentations and projects delivered during my time at college</li>
    <li>Ability to take the initiative and work well under pressure, ensuring deadlines are met, as successfully demonstrated during work experience placement projects</li>
    <li>Flexibility, whilst maintaining enthusiasm and commitment to each project</li>
    <li>Proficiency in all areas of Microsoft Office, including Access, Excel, Word and PowerPoint. </li>
    <li>An understanding of the Windows OS, and experience troubleshooting various problems</li>
    <li>Experience with a few Linux OSes, mainly desktop based GUIs. Only a small amount of experience with CLI based Linux OSes.</li>
    <li>Experience with coding languages, such as HTML, Python, and CSS. Limited understanding of languages such as JavaScript and C#.</li>
</ul>

<br />
<h4>Hobbies and Interests</h4>
<p class="text-dark">
    Over the last few summers I have helped family and friends resolve IT challenges and build a domain along with servers for gaming.  This has triggered a passionate interest in computers and restoration, since then I have continued to build my knowledge and troubleshooting resolution in networking and programming.
</p>