@{ ViewBag.Title = "Projects"; }

    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light h-100">
                <div class="card-header"><span class="badge badge-primary text-uppercase">C# / .NET Core</span> Discord.NET bot</div>
                <div class="card-body">
                    <a class="card-link" href="https://github.com/csferns/prawnbot" target="_blank">Project GitHub link</a>
                    <a class="card-link" href="https://discord.foxbot.me/stable/api/Discord.html" target="_blank">Discord API documentation link</a>
                    <a class="card-link" href="https://github.com/discord-net/Discord.Net" target="_blank">Discord.NET GitHub link</a>
                    <p class="card-text">
                        The discord bot was created as a way of joking around with my friends in our chat client, the popularly used chatting application Discord.
                        It allowed me to experiment with different things I could do with the .NET Framework, and more recently .NET Core.
                    </p>
                </div>
            </div>
        </div>
    </div>

